/* ==== GLOBAL ==== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: var(--font);
	color: var(--black);
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

::-webkit-scrollbar-thumb {
	background-color: #bababa;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}


.body-wrapper {
	display: grid;
	grid-template-columns: 270px auto 55px;
	grid-template-rows: 64px calc(100vh - 64px);
	/* height: 100%; */

	overflow: hidden;
}

/* ==== HEADER ==== */

.header {
	display: grid;
	grid-template-columns: 256px 1fr min-content;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 12px;
	height: 64px;
	padding: 0.15rem;
	background-color: white;
	border-bottom: 1px solid var(--fill-border);

	grid-column: 1 / -1;
}

.header-group {
	display: flex;
	align-items: center;
	margin: 0 6px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: none;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	user-select: none;
	padding: 0;
	margin: 0 2px;

	z-index: 3;
}

.btn:hover {
	background-color: var(--fill-hover);
}

.btn-alt {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
	background: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 2px;

	z-index: 3;
}

.btn-alt:hover {
	background-color: var(--fill-hover);
}

.btn-nofill:hover {
	background: none;
}

.btn-icon {
	display: block;
	width: 24px;
	height: 24px;
	opacity: var(--opacity);
	border: none;
	border-radius: 999px;
}

.btn-icon-sm {
	height: 20px;
	width: 20px;
}

.btn-icon-alt {
	opacity: var(--opacity);
}

.header-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 720px;
	background-color: var(--fill-grey);
	border-radius: 8px;
	padding: 3px 8px;
	/* margin-left: 12px; */

	transition: box-shadow 150ms ease;
}

.header-search:focus-within {
	background-color: white;
	
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.btn[type="reset"] {
	display: none;
}

.header-search:focus-within .btn[type="reset"] {
	display: flex;
}

.header-search-input {
	display: block;
	font-family: var(--font-sec);
	font-size: var(--font-m);
	font-weight: 400;
	background-color: transparent;
	width: 100%;
	padding: 4px;
	border: none;
	outline: none;
}

#header-profile {
	height: 40px;
	width: 40px;
}

.header-profile {
	height: 32px;
	width: 32px;
	opacity: 1;
}

#header-menu {
	width: 48px;
	height: 48px;
	margin: 4px;
}

/* ==== CONTENT ==== */

/* .inbox {
	display: grid;
	grid-template-columns: 256px 1fr 56px;
} */

/* ---- LEFT SIDEBAR ---- */

.left-sidebar {
	display: flex;
	flex-flow: column;

	grid-column: 1 / 2;
	grid-row: 2 / -1;
}

.left-sidebar-compose {
	padding: 0 10px;
	margin: 16px 0;
}

.sidebar-btn-compose {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--font-m);
	line-height: 1.5rem;
	background: white;
	width: 145px;
	height: 48px;
	vertical-align: middle;
	padding: 5px;
	border: none;
	border-radius: 999px;
	cursor: pointer;
	user-select: none;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	
	transition: box-shadow 150ms ease;
}

.sidebar-btn-compose:hover {
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
	background-color: #fafafb;
}

.sidebar-btn-compose-icon {
	margin-left: 9px;
}

.sidebar-btn-compose-title {
	color: var(--grey);
	font-family: var(--font-sec);
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.25px;
	margin-right: 18px;
}

.labels {
	max-height: 270px;
	overflow-y: auto;
}

.labels::-webkit-scrollbar {
	width: 9px;
	height: 32px;
}

.category-item-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
}

.category-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	color: var(--grey);
	font-family: var(--font);
	font-size: 0.875rem;
	line-height: 1.1rem;
	min-height: 32px;
	padding: 0 12px 0 26px;

	border-top-right-radius: 999px;
	border-bottom-right-radius: 999px;
	user-select: none;

	flex: 0;
}

.category-item:hover {
	background-color: var(--fill-hover);
	cursor: pointer;
}

.category-item > div {
	display: flex;
	align-items: center;
}

.category-item-icon {
	width: 20px;
	margin-right: 18px;
	opacity: var(--opacity);
}

.category-item.active {
	color: var(--red);
	font-weight: 600;
	background-color: #fce8e6;
}

.category-item-active:hover {
	background-color: #fce8e6;
}

.category-item.active .category-item-icon {
	fill: var(--red);
	opacity: 1;
}

.left-sidebar-connect {
	overflow: hidden;
	overflow-y: auto;
}

.connect {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
	margin-bottom: 8px;
	border-top: 1px solid var(--fill-border);
}


.drag-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 12px;

	opacity: 0;
}

.left-sidebar-connect:hover * .drag-btn-container {
	opacity: 1;
}

.drag-btn {
	width: 32px;
	height: 4px;
	background-color: var(--grey);
	border: none;
	border-radius: 999px;
	margin-top: 5px;
	outline: none;
	user-select: none;
	opacity: 0.18;
	cursor: row-resize;
}

.category-title {
	font-family: var(--font-sec);
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.25px;
	padding: 0 12px 0 26px;
	user-select: none;
	margin: 10px 0;
}

.hangouts .category-title {
	margin-top: 18px;
}

.category-item-btn {
	font-family: var(--font);
	font-size: 0.875rem;
	line-height: 1.1rem;
	padding: 0 12px 0 26px;
}

.sidebar-btn-lg {
	width: 100%;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.25px;
	background-color: var(--blue);
	line-height: 1.4rem;
	vertical-align: baseline;
	border: none;
	border-radius: 2px;
	padding: 5px 16px;
	outline: none;
	user-select: none;
}

.category-img {
	height: 72px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: calc(70% - 72px);
	user-select: none;
}

.connect-info {
	font-size: 0.75rem;
	font-family: var(--font);
	text-align: center;
	margin-top: 14px;
	padding: 0 12px 0 26px;
	color: var(--grey);
	user-select: none;
	line-height: 1.2;
}

.connect-link {
	display: block;
	color: var(--blue);
	text-decoration: none;
}

.left-sidebar-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--fill-border);
	user-select: none;
}

.btn-sidebar {
	padding: 0;
	height: 32px;
	width: 36px;
	margin: 0;
	border-radius: 0;
}

.btn-sidebar:hover {
	background-color: white;
}

.btn-sidebar.active {
	background-color: white;
	opacity: 1;
	box-shadow: inset 0 0 4px 2px rgb(102 102 102 / 15%);
}

.sidebar-btn-icon.btn-icon-sm {
	opacity: var(--opacity);
	height: 16px;
	width: 16px;
}

.sidebar-btn-icon.btn-icon-sm.active {
	opacity: 1;
}

.sidebar-btn-icon.btn-icon-sm:hover {
	opacity: 1;
}

/* ==== INBOX CONTENT ==== */

.inbox {
	display: flex;
	flex-flow: column;

	grid-column: 2 / 3;
	grid-row: 2 / -1;
}

.inbox-menu {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	background-color: white;
	padding: 0 16px;
	border-bottom: 1px solid var(--fill-border);
}

.inbox-menu-group {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.inbox-btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.inbox-menu-pagination {
	font-family: var(--font);
	font-size: 0.75rem;
	margin-right: 12px;
	letter-spacing: 0.25px;
	margin: 0 6px;
}

.inbox-menu-pagination-btn {
	display: flex;
	align-items: center;
	opacity: var(--opacity);
}

.inbox-menu-pagination-btn .btn-pagination {
	margin-left: -4px;
}

/* .inbox-category {
	display: grid;
	grid-template-columns: minmax(150px, max-content);
	align-items: center;
} */

.inbox-category {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 56px;
	color: var(--light-grey);
	font-family: var(--font-sec);
	font-weight: 500;
	font-size: 0.875rem;
	letter-spacing: .25px;
	white-space: nowrap;
	border-bottom: 1px solid var(--fill-border);
}

.inbox-category-item {
	position: relative;
	display: flex;
	align-items: center;
	height: 56px;
	
	flex: 0 1 251px;
	/* margin-right: 4px; */

	z-index: 1;
}

.inbox-category-title {
	margin-right: 18px;
	padding: 0;
}
.inbox-category-icon {
	margin: 0 18px;
}

#ctg-primary .inbox-category-item.active {
	fill: var(--red);
	color: var(--red);
}

#ctg-primary .inbox-category-item::after {
	content: '';
	position: aboslute;
	display: block;
	width: 100%;
	height: 8px;
	background-color: var(--red);
	border-top-left-radius: 25%;
	border-top-right-radius: 25%;
	left: 0;
	right: 0;
	bottom: 5px;

	z-index: 5;
}

/* ---- RIGHT SIDEBAR ---- */

.apps-container {
	grid-column: 3 / 4;
	grid-row: 2 / -1;
}

/* ==== MEDIA QUERIES ==== */

/* 768px, 1024px */

@media screen and (max-width: 768px) {
	.inbox-menu-pagination {
		max-width: 7ch;
		overflow: hidden;
		word-wrap: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		/* margin-right: -8px; */
	}
}
