/* ==== GLOBAL ==== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: var(--font);
	color: var(--black);
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #bababa;
	border-left: 6px solid #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/* ---- BTN ---- */

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 40px;
	background: none;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	user-select: none;
	padding: 0;
	margin: 0 2px;
	outline: none;

	z-index: 3;
}

.btn:hover {
	background-color: var(--fill-hover);
}

.btn-alt {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 4px;
	outline: none;
}

.btn-alt:hover {
	background-color: var(--fill-hover);
}

.btn-sm {
	width: 18px;
	padding: 0;
	margin-left: -3px;
	outline: none;
}

.btn-lg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 2px;
	outline: none;
}

.btn-nofill:hover {
	background: none;
}

.btn-icon {
	display: block;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 999px;
}

.btn-icon-sm {
	height: 20px;
	width: 20px;
	border-radius: 0;
}

.btn-icon-alt {
	opacity: var(--opacity);
}

.btn-icon-disabled {
	opacity: 0.175;
}

.btn:hover .btn-icon-sidebar,
.btn:hover .btn-pagination .btn-icon-hover,
.btn:hover .btn-icon-hover,
.btn-alt:hover .btn-icon-hover {
	opacity: 1 !important;
}

.hrt-rule {
	height: 1px;
	background-color: #dadce0;
}

/* ---- BODY GRID ---- */

.body-wrapper {
	display: grid;
	grid-template-columns: 270px 1fr 55px;
	/* grid-template-columns: 270px repeat(auto-fit, calc(100vw - 254px - 12px - 35px - 24px))	55px; */
	grid-template-rows: auto calc(100vh - 64px);
	overflow: hidden;
}

/* ==== HEADER ==== */

.header {
	display: grid;
	grid-template-columns: 256px 1fr min-content;
	justify-content: space-between;
	align-items: center;
	grid-column-gap: 12px;
	height: 64px;
	padding: 0.15rem;
	background-color: white;
	border-bottom: 1px solid var(--fill-border);

	grid-column: 1 / -1;
}

.header-group {
	display: flex;
	align-items: center;
	margin: 0 6px;
}

.header-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 720px;
	background-color: var(--fill-grey);
	border-radius: 8px;
	padding: 3px 8px;
	/* margin-left: 12px; */

	transition: box-shadow 150ms ease;
}

.header-search:focus-within {
	background-color: white;

	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
		0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.btn[type="reset"] {
	display: none;
}

.header-search:focus-within .btn[type="reset"] {
	display: flex;
}

.header-search-input {
	display: block;
	font-family: var(--font-sec);
	font-size: var(--font-m);
	font-weight: 400;
	background-color: transparent;
	width: 100%;
	padding: 4px;
	border: none;
	outline: none;
}

#header-profile {
	height: 40px;
	width: 40px;
}

.header-profile {
	height: 32px;
	width: 32px;
	opacity: 1;
}

#header-menu {
	width: 48px;
	height: 48px;
	margin: 4px;
}

/* ==== LEFT SIDEBAR ==== */

.left-sidebar {
	display: flex;
	flex-flow: column;

	grid-column: 1 / 2;
	grid-row: 2 / -1;
}

.left-sidebar-compose {
	padding: 0 10px;
	margin: 16px 0;
	display: flex;
}

.sidebar-btn-compose {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--font-m);
	line-height: 1.5rem;
	background: white;
	min-width: 48px;
	/* width: 145px; */
	height: 48px;
	vertical-align: middle;
	padding: 5px;
	border: none;
	border-radius: 999px;
	cursor: pointer;
	user-select: none;
	overflow: hidden;

	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
		0 1px 3px 1px rgba(60, 64, 67, 0.149);

	transition: box-shadow 150ms ease;

	flex: 0 1 145px;
}

.sidebar-btn-compose:hover {
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
	background-color: #fafafb;
}

.sidebar-btn-compose-icon {
	margin-left: 6px;
}

.sidebar-btn-compose-title {
	color: var(--grey);
	font-family: var(--font-sec);
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.25px;
	margin-left: 8px;
	margin-right: 18px;
}

.labels {
	max-height: 270px;
	overflow-y: auto;
}

.labels::-webkit-scrollbar {
	width: 9px;
	height: 32px;
}

.category-item-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
}

.category-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	color: var(--grey);
	font-family: var(--font);
	font-size: 0.875rem;
	line-height: 1.1rem;
	min-height: 32px;
	padding: 0 12px 0 26px;

	border-top-right-radius: 999px;
	border-bottom-right-radius: 999px;
	user-select: none;

	flex: 0;
}

.category-item:hover {
	background-color: var(--fill-hover);
	cursor: pointer;
}

.category-item > div {
	display: flex;
	align-items: center;
}

.category-item-icon {
	width: 20px;
	margin-right: 18px;
	opacity: var(--opacity);
}

.category-item.active {
	color: var(--red);
	font-weight: 600;
	background-color: #fce8e6;
}

.category-item-active:hover {
	background-color: #fce8e6;
}

.category-item.active .category-item-icon {
	fill: var(--red);
	opacity: 1;
}

.left-sidebar-connect {
	overflow: hidden;
	overflow-y: auto;
}

.connect {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 16px;
	margin-bottom: 8px;
	border-top: 1px solid var(--fill-border);
}

.drag-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 12px;
	opacity: 0;
}

.left-sidebar-connect:hover * .drag-btn-container {
	opacity: 1;
}

.drag-btn {
	width: 32px;
	height: 4px;
	background-color: var(--grey);
	border: none;
	border-radius: 999px;
	margin-top: 5px;
	outline: none;
	user-select: none;
	opacity: 0.18;
	cursor: row-resize;
}

.category-title {
	font-family: var(--font-sec);
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.25px;
	padding: 0 12px 0 26px;
	user-select: none;
	margin: 10px 0;
}

.hangouts .category-title {
	margin-top: 18px;
}

.category-item-btn {
	font-family: var(--font);
	font-size: 0.875rem;
	line-height: 1.1rem;
	padding: 0 12px 0 26px;
}

.sidebar-btn-lg {
	width: 100%;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.25px;
	background-color: var(--blue);
	line-height: 1.4rem;
	vertical-align: baseline;
	border: none;
	border-radius: 2px;
	padding: 5px 16px;
	outline: none;
	user-select: none;
}

.category-img {
	height: 72px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: calc(70% - 72px);
	user-select: none;
}

.connect-info {
	font-size: 0.75rem;
	font-family: var(--font);
	text-align: center;
	margin-top: 14px;
	padding: 0 12px 0 26px;
	color: var(--grey);
	user-select: none;
	line-height: 1.2;

	margin-bottom: 8px;
}

.connect-link {
	display: block;
	color: var(--blue);
	text-decoration: none;
}

.left-sidebar-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--fill-border);
	user-select: none;
}

.btn-sidebar {
	padding: 0;
	height: 32px;
	width: 36px;
	margin: 0;
	border-radius: 0;
}

.btn-sidebar:hover {
	background-color: white;
}

.btn-sidebar.active {
	background-color: white;
	opacity: 1;
	box-shadow: inset 0 0 4px 2px rgb(102 102 102 / 15%);
}

.btn-icon-sidebar.btn-icon-sm {
	opacity: var(--opacity);
	height: 16px;
	width: 16px;
}

.btn-icon-sidebar.btn-icon-sm.active {
	opacity: 1;
}

/* ==== BODY ==== */

.inbox {
	grid-column: 2 / 3;
	grid-row: 2 / -1;

	overflow: hidden;
}

/* ==== MAIL ==== */

.inbox-menu {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	width: auto;
	background-color: white;
	padding: 0 12px;
	border-bottom: 1px solid var(--fill-border);
	/* overflow: hidden; */

	margin-right: 16px;
}

.inbox-container {
	display: flex;
	flex-flow: column;
}

.inbox-menu-group {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.inbox-btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.inbox-menu-pagination {
	font-family: var(--font);
	color: var(--light-grey);
	font-size: 0.75rem;
	margin-right: 12px;
	letter-spacing: 0.25px;
	margin: 0 6px;
}

.inbox-menu-pagination-btn {
	display: flex;
	align-items: center;
}

.inbox-menu-pagination-btn .btn-pagination {
	margin: 0;
}

.inbox-category {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 56px;
	color: var(--light-grey);
	font-family: var(--font-sec);
	font-weight: 500;
	font-size: 0.875rem;
	letter-spacing: 0.25px;
	white-space: nowrap;
	border-bottom: 1px solid var(--fill-border);

	overflow: hidden;
	margin-right: 16px;
}

.inbox-category-item {
	position: relative;
	display: flex;
	align-items: center;
	height: 56px;
	user-select: none;
	cursor: pointer;

	flex: 0 1 251px;
}

.inbox-category-title {
	margin-right: 18px;
	padding: 0;
}

.inbox-category-icon {
	margin-left: 16px;
	margin-right: 12px;

	transition: opacity 350ms ease;
}

.inbox-category-item:hover {
	background-color: var(--fill-hover);
	color: var(--black);
}

.inbox-category-item:hover .inbox-category-icon {
	opacity: 1;
}

.inbox-category-item.active {
	color: var(--red);
}

.inbox-category-icon.active {
	fill: var(--red);
	opacity: 1;
}

#ctg-primary.inbox-category-item.active::before {
	content: "";
	position: absolute;
	display: block;
	height: 4px;
	background-color: var(--red);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 8px;
}

/* ==== MAIL CONTENT ==== */

.content {
	display: block;
	margin-bottom: 16px;
	overflow: hidden;
	overflow-y: scroll;
	height: 400px;

	/* background-color: rgba(153, 205, 50, 0.672); */
}

.mail {
	box-sizing: border-box;
	padding-bottom: 8px;
}


.inbox-message-item {
	position: relative;
	display: flex;
	flex-flow: row;
	font: var(--font);
	align-items: center;
	font-size: 0.875rem;
	height: 40px;
	padding-right: 8px;
	padding-left: 4px;

	box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.inbox-message-item:hover {
	cursor: pointer;
	box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
		0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	z-index: 1;
}

.inbox-message-item-options {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 40px;
	user-select: none;
	background-color: transparent;

	right: 0;
	top: 0;
	z-index: 2;
}

.inbox-message-item-options * {
	margin: 0;
}

.message-default {
	display: flex;
	align-items: center;
	font-family: var(--font);
	color: var(--light-grey);
	white-space: nowrap;
	overflow: hidden;
	overflow-x: hidden;
	user-select: none;
}

.message-content {
	/* padding: 0 2px; */
	padding: 2px 2px 2px 0;
	line-height: 1.1;
}

.gap.message-content {
	display: block;
	background: transparent;
	min-width: 70px;

	flex: 0 70px;
}

.message-sender {
	color: var(--black);
	padding-right: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;

	flex: 0 0 200px;
}

.message-subject {
	color: var(--black);
	overflow: hidden;
	text-overflow: ellipsis;

	flex: 0 0 auto;
}

.message-seperator {
	vertical-align: middle;
	line-height: 1;
	padding: 0 6px;
	width: 20px;
	margin-left: -2px;
}

.message-body {
	color: var(--light-grey);
	overflow: hidden;
	text-overflow: ellipsis;

	flex: 1 1 auto;
}

.message-date {
	position: relative;
	color: var(--light-grey);
	height: 40px;
	right: 0;
	top: 0;
	font-size: 0.75rem;
	text-align: right;
	letter-spacing: 0.15px;
	margin-right: 8px;
	z-index: 1;

	flex: 0 56px;
}

.message-default-unread {
	background-color: var(--fill-grey);
}

.message-default .unread {
	color: var(--black);
	font-weight: 600;
}

.message-default .read {
	color: var(--light-grey);
	font-weight: 400;
}

.drag-indicator {
	position: absolute;
	margin-left: -4px;
	left: 0;
	top: 0;
}

.message-btn-icon {
	opacity: 0.22;
}

.message-group-hidden {
	display: none;
	transition: opacity 150ms ease;
}

.inbox-message-item:hover .message-btn-icon {
	opacity: 0.55;
}

.inbox-message-item:hover .message-group-hidden {
	display: block;
}

.inbox-message-item:hover .gap.message-content,
.inbox-message-item:hover .message-date {
	display: none;
}

.center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ==== RIGHT SIDEBAR ==== */

.app-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-left: 1px solid var(--fill-border);

	grid-column: 3 / 4;
	grid-row: 2 / -1;
}

.app-item {
	margin-bottom: 16px;
}

.app-group > :nth-last-child(3) {
	margin-bottom: 0;
}
.app-group > :nth-last-child(1) {
	margin-top: 6px;
}

/* ==== FOOTER ==== */

.footer-container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 12px;
	margin: 16px 0;
}

.footer-item {
	display: flex;
	align-items: center;
	color: var(--light-grey);
	font-size: 0.875rem;
	padding: 0;
	margin: 0;
	text-decoration: none;
	letter-spacing: 0.2px;

	flex: 1 1;
}

.progressbar {
	background-color: var(--fill-hover);
	display: block;
	height: 6px;
	width: 100%;
	border-radius: 999px;
	max-width: 220px;
	padding: 0;
	margin: 0;
	margin-bottom: 6px;
}

.footer-item:first-child,
.footer-item:last-child {
	flex: 1 0 30%;
}

.footer-item:first-child {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.footer-item:first-child > a {
	display: flex;
	align-items: center;
	text-align: left;
}

.footer-item:nth-child(2) {
	text-align: center;
	display: flex;
	justify-content: center;

	flex: 1 1 100%;
}

.footer-item:nth-child(2) * {
	padding: 0 4px;
}

.footer-item:last-child {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	text-align: right;
}

.footer-group {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	margin-top: 4px;
}
.footer-link {
	color: var(--light-grey);
	text-decoration: none;
	line-height: 1;
	font-size: 0.75rem;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-text-sm {
	font-size: 0.75rem;
}

/* ==== MEDIA QUERIES (1200px, 950px, 768px) ====  */

/* ---- 1200px ----*/

@media screen and (max-width: 1200px) {
	.message-default .message-subject {
		flex: 0 1 auto;
	}
}

/* ---- 950px ----*/

@media screen and (max-width: 950px) {
	.inbox-message-item {
		align-items: flex-start;
		height: auto;
	}

	.message-default {
		flex-flow: row wrap;
		white-space: nowrap;
		padding-left: 10px;
		margin: 10px 0;
	}

	.inbox-message-item-options {
		position: absolute;
		background-color: transparent;
		right: 8px;
		top: 0;

		z-index: 2;
	}

	.message-seperator {
		display: none;
	}

	.message-default .message-sender {
		flex: 1 1 100%;
	}

	.message-default .message-subject {
		flex: 0 1 100%;
	}

	.message-default .message-body {
		flex: 0 1 80%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.message-default .message-date {
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 8px;
		z-index: 1;
		flex: 0 0 56px;
	}

	.star {
		position: absolute;
		right: 8px;
		bottom: 0;
		z-index: 3;
	}

	.gap.message-content {
		order: 3;
	}

	.inbox-message-item:hover .message-date {
		display: none;
	}
}

/* ---- 768px ----*/

@media screen and (max-width: 768px) {
	.inbox-menu-pagination {
		max-width: 7ch;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.gap.message-content {
		display: none;
	}

	.message-default .message-subject {
		overflow: hidden;
		text-overflow: ellipsis;
		flex: 0 1 max-content;
	}
}
